/*  Title: form.html styles
	by: Cory Green
	for: CSS selectors
*/
h3{
	color:white;
}

label.error{display:block; margin:10px 0; color: yellow;}



.ui-page {
		background: -webkit-gradient(linear, left top, left bottom, from(#2799F2), to(#054096));
		} 

.ui-btn {
		color: white;
		}

.ui-listview, .ui-li {
		color:white;
		padding: 5px;
		}
		
.ui-navbar .ui-btn-inner {
		color:#2799F2;
}		


.ui-body-b{
		background: -webkit-gradient(linear, left top, left bottom, from(#2799F2), to(#054096));
}

.ui-body-b, .ui-dialog.ui-overlay-b{
		color:white;
		text-shadow:none;
		border: 1px solid black;
		padding:1px;
}

input.ui-input-text, textarea.ui-input-text {
		background-image:none;
}

.ui-field-contain input.ui-input-text, .ui-field-contain textarea.ui-input-text, .ui-field-contain .ui-input-search {
	background-color:#3DA4EA;
}